.header
  .message_container
    =image_tag "white_logo.png"
    %span Thank you for signing up!
  %a{ href: "http://nursegrid.com", target: "_blank" } What is NurseGrid?
.hero.referral_page
  =image_tag "secondary_hero.png", class: "hero_bg"
  .announcement
    %h1 
      %span Nursing Will Never 
      %span Be the Same
  =image_tag 'phone.png', class: 'phone_image'
  .share_wrap
    %h2 
      %span Invite nurses.
      %span Win big.
    %p Share your unique link via Facebook, Twitter
    %p or Email and earn sweet prizes!
    .referral_link
      ="#{root_url}?ref=#{@user.referral_code}"
    .share_links
      %ul.rrssb-buttons.clearfix
        %li.facebook
          %a.popup{href: "https://www.facebook.com/sharer/sharer.php?u=http://nursegrid-referral-program.herokuapp.com/"}
            %i.fa.fa-facebook
            %span.text facebook
        %li.twitter
          -mail_text = "I can't wait for NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: #{root_url}/?ref=#{@user.referral_code}"
          -twitter_text = "I can't wait for @NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: #{root_url}/?ref=#{@user.referral_code} #nursegrid"
          %a.popup{href: "http://twitter.com/home?status=#{CGI.escape(twitter_text)}"}
            %i.fa.fa-twitter
            %span.text twitter
        %li.email
          %a{href: "mailto:?subject=Check%20Out%20NurseGrid&body=#{ERB::Util.url_encode(mail_text)}"}
            %i.fa.fa-envelope        
            %span.text email
                  
    
.prizes
  .prize_bar
    %h3 Here's how it works
    %ul.rewards
      %li.reward{ class: "selected user_count" }
        .circle
          =@user.referrals.count
        %p.title Friends Joined
      - @rewards.each do |reward|
        %li.reward{ class: "#{reward['selected'] ? 'selected' : ''} #{reward['class']}"}
          .circle
            -if reward['class'] == 'prize-grand'
              $
            -else
              =reward['count']
          %p.title= reward['title'].html_safe
          .modal
            -if reward['class'] == 'prize-grand'
              .grand_prize_steps
                -@grand_prize_steps.each do |step|         
                  .grand_prize_step{ class: "#{@user.referrals.count < step['referrals'] ? 'below' : 'above'}"}
                    .amount
                      .circle
                        ="#{step['referrals']} +"
                      %span
                        Registrations
                    .tickets
                      ="Each Referral = #{pluralize(step['tickets'], 'ticket')}"

            -else
              %img{src: "#{reward['image']}"}
              .description
                =reward['description'].html_safe

    .progress_bar_wrapper{ class: "#{@current_reward.nil? ? '' : @current_reward['class']}" }
      .filled{ data: { referral_count: @user.referrals.count}}
  
.raffle_count
  %span 
    You have
    =pluralize(@user.grand_prize_progress, 'raffe ticket')
  %span for the drawing!
  