.hero
  .column.left
    %h1 Nursing Will Never Be The Same
  .column.right
    %h2 Don't leave any nurses behind
    %h2 Invite friends & Earn Rewards
    %p Share your unique link view email, Facebook
    %p or Twitter and earn rewares for
    %p each friend who signs up.
    .share_wrap
      .referral_link
        ="#{root_url}?ref=#{@user.referral_code}"
      .share_links
        .facebook
        .twitter

    
.prizes
  %h3 Here's How to win Works:
  %ul.rewards
    - @rewards.each do |reward|
      %li.reward{ class: "#{reward['selected'] ? 'selected' : ''} #{reward['class'] == 'five' ? 'last' : ''}"}
      .circle
        =reward['count']
      %p= reward['description'].html_safe
      .modal
        %img{src: "#{reward['image']}"}
  .joined
    Friends Joined
  .progress_bar{ class: "#{@current_reward.nil? ? '' : @current_reward['class']}"}
  .rewards
    Rewards earned
  - if @user.referrals.count == 0
    %p.friend_count
      %span No
      friends have joined...Yet!
  - else
    %p.friend_count
      = pluralize(@user.referrals.count, 'friend has', 'friends have')
      joined
  %p Keep checking

/ .share-wrap
/       %p.why.brandon Don't leave your friends behind
/       %p.title.brandon
/         INVITE FRIENDS
/         %br Earn Product
/         %p.subtitle.brandon
/           Share your unique link via email, Facebook or Twitter and earn Harry's goods for each friend who signs up.
/         .copy-link.brandon
          
          
/         - twitter_message = '#Shaving is evolving. Excited for @harrys to launch.'
/         .social-links
/           %a.fb{href: "http://www.facebook.com/sharer/sharer.php?u=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&title=Harrys", target: "_blank"}
          
/           .sep
/           %a.twit{href: "http://twitter.com/share?url=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&text=#{CGI::escape(twitter_message)}", target: "_blank"}
