.hero.referral_page
  .column.left
    %h1 Nursing Will Never Be the Same
  .column.right
    .share_wrap
      %h2 Don't leave any nurses behind!
      %h2.last Invite friends & earn rewards
      %p Share your unique link via email, Facebook
      %p or Twitter and earn rewards for
      %p each friend who signs up.
      .referral_link
        ="#{root_url}?ref=#{@user.referral_code}"
      .share_links
        %ul.rrssb-buttons.clearfix
          %li.facebook
            %a.popup{href: "https://www.facebook.com/sharer/sharer.php?u=http://nursegrid.com"}
              %i.fa.fa-facebook
              %span.text facebook
          %li.twitter
            -mail_text = "I can't wait for NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: nursegrid.com/referrals/?ref=#{@user.referral_code}"
            -twitter_text = "I can't wait for @NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: nursegrid.com/referrals/?ref=#{@user.referral_code} #nursegrid"
            %a.popup{href: "http://twitter.com/home?status=#{CGI.escape(twitter_text)}"}
              %i.fa.fa-twitter
              %span.text twitter
          %li.email
            %a{href: "mailto:?subject=Check%20Out%20NurseGrid&body=#{ERB::Util.url_encode(mail_text)}"}
              %i.fa.fa-envelope        
              %span.text email
                  
    
.prizes
  .prize_bar
    %h3 Here's How to Win:
    %ul.rewards
      - @rewards.each do |reward|
        %li.reward{ class: "#{reward['selected'] ? 'selected' : ''} #{reward['class']}"}
          .circle
            =reward['count']
          %p.title= reward['title'].html_safe
          .modal
            %img{src: "#{reward['image']}"}
            .description
              =reward['description'].html_safe

    / .joined
    /   Friends Joined
    .progress_bar_wrapper{ class: "#{@current_reward.nil? ? '' : @current_reward['class']}" }
      .filled{ data: { referral_count: @user.referrals.count}}
  

  / - if @user.referrals.count == 0
  /   %p.friend_count
  /     %span No
  /     friends have joined...Yet!
  / - else
  /   %p.friend_count
  /     = pluralize(@user.referrals.count, 'friend has', 'friends have')
  /     joined
  / %p Keep checking
  .grand_prize
    .column.left
      .description
        Plus, for every nurse you refer to NurseGrid, we will enter you into the grand prize drawing for a chance to win a
        %span
          $750 Jetblue travel gift card!
        .current
          You have referred 
          %span
            ="#{pluralize(@user.referrals.count, 'nurse')}"
          and have been entered into the grand prize drawing
          %span
            ="#{pluralize(@user.grand_prize_progress, 'time')}"
      =image_tag "nursegrid_application_examples.png"
    .column.right
      .grand_prize_steps
        -@grand_prize_steps.each do |step|
        
          .grand_prize_step{ class: "#{@user.referrals.count < step['referrals'] ? 'below' : 'above'}"}
            .amount
              .circle
                ="#{step['referrals']} +"
              %span
                Registrations
            .tickets
              ="Each Referral = #{pluralize(step['tickets'], 'ticket')}"

/ .share-wrap
/       %p.why.brandon Don't leave your friends behind
/       %p.title.brandon
/         INVITE FRIENDS
/         %br Earn Product
/         %p.subtitle.brandon
/           Share your unique link via email, Facebook or Twitter and earn Harry's goods for each friend who signs up.
/         .copy-link.brandon
          
          
/         - twitter_message = '#Shaving is evolving. Excited for @harrys to launch.'
/         .social-links
/           %a.fb{href: "http://www.facebook.com/sharer/sharer.php?u=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&title=Harrys", target: "_blank"}
          
/           .sep
/           %a.twit{href: "http://twitter.com/share?url=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&text=#{CGI::escape(twitter_message)}", target: "_blank"}
