.hero.referral_page
  .column.left
    %h1 Nursing Will Never Be the Same
  .column.right
    .share_wrap
      %h2 Don't leave any nurses behind!
      %h2.last Invite friends & earn rewards
      %p Share your unique link via email, Facebook
      %p or Twitter and earn rewards for
      %p each friend who signs up.
      .referral_link
        ="#{root_url}?ref=#{@user.referral_code}"
      .share_links
        %ul.rrssb-buttons.clearfix
          %li.facebook
            %a.popup{href: "https://www.facebook.com/sharer/sharer.php?u=http://nursegrid.com"}
              %i.fa.fa-facebook
              %span.text facebook
          %li.twitter
            -mail_text = "I can't wait for NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: nursegrid.com/referrals/?ref=#{@user.referral_code}"
            -twitter_text = "I can't wait for @NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends: nursegrid.com/referrals/?ref=#{@user.referral_code} #nursegrid"
            %a.popup{href: "http://twitter.com/home?status=#{CGI.escape(twitter_text)}"}
              %i.fa.fa-twitter
              %span.text twitter
          %li.email
            %a{href: "mailto:?subject=Check%20Out%20NurseGrid&body=#{ERB::Util.url_encode(mail_text)}"}
              %i.fa.fa-envelope        
              %span.text email
                  
    
.prizes
  .prize_bar
    %h3 Here's How to Win:
    %ul.rewards
      - @rewards.each do |reward|
        %li.reward{ class: "#{reward['selected'] ? 'selected' : ''} #{reward['class']}"}
          .circle
            -if reward['class'] == 'prize-grand'
              GP
            -else
              =reward['count']
          %p.title= reward['title'].html_safe
          .modal
            -if reward['class'] == 'prize-grand'
              .grand_prize_steps
                -@grand_prize_steps.each do |step|         
                  .grand_prize_step{ class: "#{@user.referrals.count < step['referrals'] ? 'below' : 'above'}"}
                    .amount
                      .circle
                        ="#{step['referrals']} +"
                      %span
                        Registrations
                    .tickets
                      ="Each Referral = #{pluralize(step['tickets'], 'ticket')}"

              .description
                Plus, for every nurse you refer to NurseGrid, we will enter you into the grand prize drawing for a chance to win a
                %span
                  $750 Jetblue travel gift card!
            -else
              %img{src: "#{reward['image']}"}
              .description
                =reward['description'].html_safe

    .progress_bar_wrapper{ class: "#{@current_reward.nil? ? '' : @current_reward['class']}" }
      .filled{ data: { referral_count: @user.referrals.count}}
  
.joined_count
  - if @user.referrals.count == 0
    %p.friend_count
      %span No
      friends have joined...Yet!
  - else
    %p.friend_count
      = pluralize(@user.referrals.count, 'friend has', 'friends have')
      joined
  %p Keep checking
  